<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
		xmlns:util="http://www.springframework.org/schema/util"

	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

	<global-method-security pre-post-annotations="enabled" />

	

	<http auto-config="true" create-session="always">
		<intercept-url pattern="/" access="permitAll" />
		<intercept-url pattern="/user" access="permitAll" />
		<intercept-url pattern="/login" access="permitAll" />
		<intercept-url pattern="/registrar" access="isAuthenticated()" />
		<intercept-url pattern="/desconectar" access="isAuthenticated()" />
		<intercept-url pattern="/paginaTwitter" access="isAuthenticated()" />
		
		<intercept-url pattern="/**" access="ROLE_USER" />
		

	
		
		<form-login login-processing-url="/registrar" login-page="/home"
			username-parameter="username" password-parameter="password"
			default-target-url="/paginaTwitter" authentication-failure-url="/login?auth=error" />
		<logout logout-url="/desconectar" logout-success-url="/"  />		
		<remember-me key="${rememberMe.secret}" token-validity-seconds="7200" />
	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="UsuarioSA">
			<password-encoder ref="passwordEncoder" />
		</authentication-provider>
	</authentication-manager>
	
	<beans:bean id="passwordEncoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
	</beans:bean>
</beans:beans>