<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
</head>
<body>


<p>HOLA PRIMERA WEB THYMELEAFFF</p>


<h1>
	Login 
</h1>

<form action="#" th:action="@{/}" th:object="${UsuarioEntity}" method="POST">

 <label id="" > Username:</label>
 <input type="text" name="username" />  
 <br />
 <br />
 <label id="" > Password:</label>
 <input type="text" name="password" />  
 <br />
 <br />
  
 <input type="submit" value="Entrar" />  
</form>



</body>
</html>