<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Twitter FDI</title>
 <link rel="stylesheet" href="/twitter/src/main/webapp/WEB-INF/css/boostrap"/>
 <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body class="container">


<header class="jumbotron">HOLA PRIMERA WEB THYMELEAF</header>


<h1 class="h1">
	Login 
</h1>

<form role="form" action="#" th:action="@{/}" th:object="${UsuarioEntity}" method="POST">
<div class="form-group">
 <label class="label-primary" id="" > Username:</label>
 <input type="text" class="form-control" name="username" />
 </div>  
 <br />
 <br />
 <label class="label-primary" id="" > Password:</label>
 <input  type="text" class="form-control" name="password" />  
 <br />
 <br />
  
 <input type="submit" class ="btn-success" value="Entrar" />  
</form>



</body>
</html>