<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
 <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"/>

</head>
<body class="container">

<div class="jumbotron">
	Twitter FDI  
</div>

<form role="form" action="#" th:action="@{/paginaTwitter}" th:object="${TweetEntity}" method="POST">
<div class="form-group">
	<label  class="label-primary" id="" > Tweet :</label>
	<input class="form-control" type="text" name="texto" />
	</div>
	<input type="submit"  class ="btn-success" value= "Enviar Tweet"/>
		
</form>


<table class="table table-hover">
<thead>
<tr>
	<th>Usuario</th>
	<th>Tweet</th>
</tr>
</thead>
<tbody>

<tr th:each="tw : ${tweets}">
    <td th:text="${tw.usuario.username}"></td>
    <td th:text="${tw.texto}"></td>
</tr>
</tbody>
</table>

<form action="#" th:action="@{/desconectar}" method="POST">

	<input type="submit"  class ="btn-warning" value= "Desconectar"/>
		
</form>


</body>
</html>